{% extends "::base.html.twig" %}

{% block title %}RepairBundle:Repair:show{% endblock %}

{% block body %}
    {% trans_default_domain 'FOSUserBundle' %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />


        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'security.login.username'|trans }}" />
        <input type="password" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans }}"/>

        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    </form>

{% endblock %}
{% block javascripts %}
    {{ parent() }}

{% endblock %}
