{% extends "RepairBundle::layout.html.twig" %}

{% block title %}RepairBundle:Repair:show{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
    {% trans_default_domain 'RepairBundle' %}
    {# 状态为待接单 #}
    {% if repairForm.formCondition.id == 1 %}
        {# 判断是否是报修人 #}
        {% if isCreater %}
            {# 判断是否有维修人员权限 #}
            {%  if is_granted('ROLE_REPAIR') %}
                <form action="{{ path('fault_action',{'action':'edit','id':repairForm.id}) }}" {{ form_enctype(form) }} method="post">
                    <div class="row">
                        <div class="">{{ 'form.repairFormInfo'|trans }}</th><th colspan="2">{{ repairForm.FormCondition.name }}</th>
                        <tr>
                            <td>{{ 'form.time'|trans }}</td><td>{{ repairForm.repairTask.createTime|date('Y-m-d H:i:s') }}</td><td>{{ 'form.location'|trans }}</td><td>{{ form_widget(form.faultInfo.group) }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'form.type'|trans }}</td><td>{{ form_widget(form.faultInfo.faultType) }}</td><td>{{ 'form.priority'|trans }}</td><td>{{ form_widget(form.faultInfo.faultPriority) }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'form.reporterDescription'|trans }}</td><td colspan="3">{{ form_widget(form.faultInfo.reporterDescription) }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'form.reporter'|trans }}</td><td>{{ repairForm.repairTask.user.name }}</td><td>{{ 'form.phone'|trans }}</td><td>{{ repairForm.repairTask.user.phone }}</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td><td>{{ form_widget(form.save, { 'label': 'form.edit' }) }}</td><td><button id="cancel" type="button" >{{ 'form.cancel'|trans }}</button></td><td><button id="receive" type="button" >{{ 'form.receive'|trans }}</button></td>
                        </tr>
                    </div>

                    {{ form_widget(form._token) }}
                </form>
            {# 无维修人权限 #}
            {% else %}
                <form action="{{ path('fault_action',{'action':'edit','id':repairForm.id}) }}" {{ form_enctype(form) }} method="post">
                    <table>
                        <th colspan="2">{{ 'form.repairFormInfo'|trans }}</th><th colspan="2">{{ repairForm.FormCondition.name }}</th>
                        <tr>
                            <td>{{ 'form.time'|trans }}</td><td>{{ repairForm.repairTask.createTime|date('Y-m-d H:i:s') }}</td><td>{{ 'form.location'|trans }}</td><td>{{ form_widget(form.faultInfo.group) }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'form.type'|trans }}</td><td>{{ form_widget(form.faultInfo.faultType) }}</td><td>{{ 'form.priority'|trans }}</td><td>{{ form_widget(form.faultInfo.faultPriority) }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'form.reporterDescription'|trans }}</td><td colspan="3">{{ form_widget(form.faultInfo.reporterDescription) }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'form.reporter'|trans }}</td><td>{{ repairForm.repairTask.user.name }}</td><td>{{ 'form.phone'|trans }}</td><td>{{ repairForm.repairTask.user.phone }}</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td><td>&nbsp;</td><td>{{ form_widget(form.save, { 'label': 'form.edit' }) }}</td><td><button id="cancel" type="button" >{{ 'form.cancel'|trans }}</button></td>
                        </tr>
                    </table>

                    {{ form_widget(form._token) }}
                </form>
            {% endif %}
        {# 不是报修人 #}
        {% else %}
            {# 判断是否有维修人权限 #}
            {%  if is_granted('ROLE_REPAIR') %}
                <table>
                    <th colspan="2">{{ 'form.repairFormInfo'|trans }}</th><th colspan="2">{{ repairForm.FormCondition.name }}</th>
                    <tr>
                        <td>{{ 'form.time'|trans }}</td><td>{{ repairForm.repairTask.createTime|date('Y-m-d H:i:s') }}</td><td>{{ 'form.location'|trans }}</td><td>{{ repairForm.faultInfo.group.name }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'form.type'|trans }}</td><td>{{ repairForm.faultInfo.faultType.name }}</td><td>{{ 'form.priority'|trans }}</td><td>{{ repairForm.faultInfo.faultPriority.name }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'form.reporterDescription'|trans }}</td><td colspan="3">{{ repairForm.faultInfo.reporterDescription }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'form.reporter'|trans }}</td><td>{{ repairForm.repairTask.user.name }}</td><td>{{ 'form.phone'|trans }}</td><td>{{ repairForm.repairTask.user.phone }}</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td><button id="receive" type="button" >{{ 'form.receive'|trans }}</button></td>
                    </tr>
                </table>
            {% else %}
                <table>
                    <th colspan="2">{{ 'form.repairFormInfo'|trans }}</th><th colspan="2">{{ repairForm.FormCondition.name }}</th>
                    <tr>
                        <td>{{ 'form.time'|trans }}</td><td>{{ repairForm.repairTask.createTime|date('Y-m-d H:i:s') }}</td><td>{{ 'form.location'|trans }}</td><td>{{ repairForm.faultInfo.group.name }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'form.type'|trans }}</td><td>{{ repairForm.faultInfo.faultType.name }}</td><td>{{ 'form.priority'|trans }}</td><td>{{ repairForm.faultInfo.faultPriority.name }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'form.reporterDescription'|trans }}</td><td colspan="3">{{ repairForm.faultInfo.reporterDescription }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'form.reporter'|trans }}</td><td>{{ repairForm.repairTask.user.name }}</td><td>{{ 'form.phone'|trans }}</td><td>{{ repairForm.repairTask.user.phone }}</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
                    </tr>
                </table>
            {% endif %}
        {% endif %}
    {% endif %}
    {# 状态为维修中 #}
    {% if repairForm.formCondition.id == 2 %}
        {# 判断是否是表单接收者 #}
        {% if isReceiver %}
            {# 判断是否有领导权限 #}
            {% if is_granted('ROLE_LEADER') %}
                <form action="{{ path('fault_action',{'action':'submit','id':repairForm.id}) }}" {{ form_enctype(form) }} method="post">
                    <table>
                        <th colspan="2">{{ 'form.repairFormInfo'|trans }}</th><th colspan="2">{{ repairForm.FormCondition.name }}</th>
                        <tr>
                            <td>{{ 'form.time'|trans }}</td><td>{{ repairForm.repairTask.createTime|date('Y-m-d H:i:s') }}</td><td>{{ 'form.location'|trans }}</td><td>{{ repairForm.faultInfo.group.name }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'form.type'|trans }}</td><td>{{ repairForm.faultInfo.faultType.name }}</td><td>{{ 'form.priority'|trans }}</td><td>{{ repairForm.faultInfo.faultPriority.name }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'form.reporterDescription'|trans }}</td><td colspan="3">{{ repairForm.faultInfo.reporterDescription }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'form.workerDescription'|trans }}</td><td colspan="3">{{ form_widget(form.faultInfo.workerDescription) }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'form.maintenanceSchedule'|trans }}</td><td colspan="3">{{ form_widget(form.faultInfo.maintenanceSchedule) }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'form.order'|trans }}</td>
                            <td>
                                {% if orderSet %}
                                    {{ repairForm.faultInfo.faultOrder.leaderOrder }}
                                {% else %}
                                    {{ 'form.none'|trans }}
                                {% endif %}
                            </td>
                            <td>{{ 'form.money'|trans }}</td><td>{{ form_widget(form.cost)|number_format(2, '.') }}></td>
                        </tr>
                        <tr>
                            <td>{{ 'form.reporter'|trans }}</td><td>{{ repairForm.repairTask.user.name }}</td><td>{{ 'form.phone'|trans }}</td><td>{{ repairForm.repairTask.user.phone }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'form.receiver'|trans }}</td><td>{{ repairForm.receive.name }}</td><td>{{ 'form.phone'|trans }}</td><td>{{ repairForm.receive.phone }}</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                {% if orderIsNull %}
                                    <button type="button" id="reportToLeader" >{{ 'form.reportToLeader'|trans }}</button>
                                {% else %}
                                    {% if not orderSet %}
                                        <button type="button" id="order">{{ 'form.order'|trans }}</button>
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                {% endif %}
                            </td>

                            <td><button id="saveOrSubmit" type="button" >change</button></td><td><button id="submit" type="button" >{{ 'form.submit' }}</button></td>
                        </tr>
                    </table>

                    {{ form_widget(form._token) }}
                </form>
            {# 无领导权限 #}
            {% else %}
                <form action="{{ path('fault_action',{'action':'submit','id':repairForm.id}) }}" {{ form_enctype(form) }} method="post">
                    <table>
                        <thead>
                            <td colspan="2">{{ 'form.repairFormInfo'|trans }}</td><td colspan="2">{{ repairForm.FormCondition.name }}</td>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ 'form.time'|trans }}</td><td>{{ repairForm.repairTask.createTime|date('Y-m-d H:i:s') }}</td><td>{{ 'form.location'|trans }}</td><td>{{ repairForm.faultInfo.group.name }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'form.type'|trans }}</td><td>{{ repairForm.faultInfo.faultType.name }}</td><td>{{ 'form.priority'|trans }}</td><td>{{ repairForm.faultInfo.faultPriority.name }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'form.reporterDescription'|trans }}</td><td colspan="3">{{ repairForm.faultInfo.reporterDescription }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'form.workerDescription'|trans }}</td><td colspan="3">{{ form_widget(form.faultInfo.workerDescription) }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'form.maintenanceSchedule'|trans }}</td><td colspan="3">{{ form_widget(form.faultInfo.maintenanceSchedule) }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'form.order'|trans }}</td>
                            <td>
                                {% if orderSet %}
                                    {{ repairForm.faultInfo.faultOrder.leaderOrder }}
                                {% else %}
                                    {{ 'form.none'|trans }}
                                {% endif %}
                            </td>
                            <td>{{ 'form.money'|trans }}</td><td>{{ form_widget(form.cost)|number_format(2, '.') }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'form.reporter'|trans }}</td><td>{{ repairForm.repairTask.user.name }}</td><td>{{ 'form.phone'|trans }}</td><td>{{ repairForm.repairTask.user.phone }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'form.receiver'|trans }}</td><td>{{ repairForm.receive.name }}</td><td>{{ 'form.phone'|trans }}</td><td>{{ repairForm.receive.phone }}</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                {% if orderIsNull %}
                                    <button type="button" id="reportToLeader" >{{ 'form.reportToLeader'|trans }}</button>
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </td>
                            <td><button id="saveOrSubmit" type="button" >change</button></td><td><button id="submit" type="button" >{{ 'form.submit' }}</button></td>
                        </tr>
                        </tbody>
                    </table>

                    {{ form_widget(form._token) }}
                </form>
            {% endif %}
        {# 不是表单接收人 #}
        {% else %}
            {# 有领导权限 #}
            {% if is_granted('ROLE_LEADER') %}
                <table>
                    <th colspan="2">{{ 'form.repairFormInfo'|trans }}</th><th colspan="2">{{ repairForm.FormCondition.name }}</th>
                    <tr>
                        <td>{{ 'form.time'|trans }}</td><td>{{ repairForm.repairTask.createTime|date('Y-m-d H:i:s') }}</td><td>{{ 'form.location'|trans }}</td><td>{{ repairForm.faultInfo.group.name }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'form.type'|trans }}</td><td>{{ repairForm.faultInfo.faultType.name }}</td><td>{{ 'form.priority'|trans }}</td><td>{{ repairForm.faultInfo.faultPriority.name }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'form.reporterDescription'|trans }}</td><td colspan="3">{{ repairForm.faultInfo.reporterDescription }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'form.workerDescription'|trans }}</td><td colspan="3">{{ repairForm.faultInfo.workerDescription }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'form.maintenanceSchedule'|trans }}</td><td colspan="3">{{ repairForm.faultInfo.maintenanceSchedule }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'form.order'|trans }}</td>
                        <td>
                            {% if orderSet %}
                                {{ repairForm.faultInfo.faultOrder.leaderOrder }}
                            {% else %}
                                {{ 'form.none'|trans }}
                            {% endif %}
                        </td>
                        <td>{{ 'form.money'|trans }}</td><td>{{ repairForm.cost }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'form.reporter'|trans }}</td><td>{{ repairForm.repairTask.user.name }}</td><td>{{ 'form.phone'|trans }}</td><td>{{ repairForm.repairTask.user.phone }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'form.receiver'|trans }}</td><td>{{ repairForm.receive.name }}</td><td>{{ 'form.phone'|trans }}</td><td>{{ repairForm.receive.phone }}</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>
                            {% if not orderSet %}
                                {% if not orderIsNull %}
                                    <button type="button" id="order">{{ 'form.order'|trans }}</button>
                                {% endif %}
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </td>
                    </tr>
                </table>
            {# 无领导权限 #}
            {% else %}
                <table>
                    <th colspan="2">{{ 'form.repairFormInfo'|trans }}</th><th colspan="2">{{ repairForm.FormCondition.name }}</th>
                    <tr>
                        <td>{{ 'form.time'|trans }}</td><td>{{ repairForm.repairTask.createTime|date('Y-m-d H:i:s') }}</td><td>{{ 'form.location'|trans }}</td><td>{{ repairForm.faultInfo.group.name }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'form.type'|trans }}</td><td>{{ repairForm.faultInfo.faultType.name }}</td><td>{{ 'form.priority'|trans }}</td><td>{{ repairForm.faultInfo.faultPriority.name }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'form.reporterDescription'|trans }}</td><td colspan="3">{{ repairForm.faultInfo.reporterDescription }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'form.workerDescription'|trans }}</td><td colspan="3">{{ repairForm.faultInfo.workerDescription }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'form.maintenanceSchedule'|trans }}</td><td colspan="3">{{ repairForm.faultInfo.maintenanceSchedule }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'form.order'|trans }}</td>
                        <td>
                            {% if orderSet %}
                                {{ repairForm.faultInfo.faultOrder.leaderOrder }}
                            {% else %}
                                {{ 'form.none'|trans }}
                            {% endif %}
                        </td>
                        <td>{{ 'form.money'|trans }}</td><td>{{ repairForm.cost }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'form.reporter'|trans }}</td><td>{{ repairForm.repairTask.user.name }}</td><td>{{ 'form.phone'|trans }}</td><td>{{ repairForm.repairTask.user.phone }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'form.receiver'|trans }}</td><td>{{ repairForm.receive.name }}</td><td>{{ 'form.phone'|trans }}</td><td>{{ repairForm.receive.phone }}</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            {% endif %}
        {% endif %}
    {% endif %}

    {# 状态为待确认 #}
    {% if repairForm.formCondition.id == 3 %}
        {# 判断是否是报修人 #}
        {% if isCreater %}
            <table>
                <th colspan="2">{{ 'form.repairFormInfo'|trans }}</th><th colspan="2">{{ repairForm.FormCondition.name }}</th>
                <tr>
                    <td>{{ 'form.time'|trans }}</td><td>{{ repairForm.repairTask.createTime|date('Y-m-d H:i:s') }}</td><td>{{ 'form.location'|trans }}</td><td>{{ repairForm.faultInfo.group.name }}</td>
                </tr>
                <tr>
                    <td>{{ 'form.type'|trans }}</td><td>{{ repairForm.faultInfo.faultType.name }}</td><td>{{ 'form.priority'|trans }}</td><td>{{ repairForm.faultInfo.faultPriority.name }}</td>
                </tr>
                <tr>
                    <td>{{ 'form.reporterDescription'|trans }}</td><td colspan="3">{{ repairForm.faultInfo.reporterDescription }}</td>
                </tr>
                <tr>
                    <td>{{ 'form.workerDescription'|trans }}</td><td colspan="3">{{ repairForm.faultInfo.workerDescription }}</td>
                </tr>
                <tr>
                    <td>{{ 'form.maintenanceSchedule'|trans }}</td><td colspan="3">{{ repairForm.faultInfo.maintenanceSchedule }}</td>
                </tr>
                <tr>
                    <td>{{ 'form.order'|trans }}</td>
                    <td>
                        {% if orderSet %}
                            {{ repairForm.faultInfo.faultOrder.leaderOrder }}
                        {% else %}
                            {{ 'form.none'|trans }}
                        {% endif %}
                    </td>
                    <td>{{ 'form.money'|trans }}</td><td>{{ repairForm.cost }}</td>
                </tr>
                <tr>
                    <td>{{ 'form.reporter'|trans }}</td><td>{{ repairForm.repairTask.user.name }}</td><td>{{ 'form.phone'|trans }}</td><td>{{ repairForm.repairTask.user.phone }}</td>
                </tr>
                <tr>
                    <td>{{ 'form.receiver'|trans }}</td><td>{{ repairForm.receive.name }}</td><td>{{ 'form.phone'|trans }}</td><td>{{ repairForm.receive.phone }}</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><button type="button" id="confirm">{{ 'form.confirm'|trans }}</button></td>
                </tr>
            </table>
        {% else %}
            <table>
                <th colspan="2">{{ 'form.repairFormInfo'|trans }}</th><th colspan="2">{{ repairForm.FormCondition.name }}</th>
                <tr>
                    <td>{{ 'form.time'|trans }}</td><td>{{ repairForm.repairTask.createTime|date('Y-m-d H:i:s') }}</td><td>{{ 'form.location'|trans }}</td><td>{{ repairForm.faultInfo.group.name }}</td>
                </tr>
                <tr>
                    <td>{{ 'form.type'|trans }}</td><td>{{ repairForm.faultInfo.faultType.name }}</td><td>{{ 'form.priority'|trans }}</td><td>{{ repairForm.faultInfo.faultPriority.name }}</td>
                </tr>
                <tr>
                    <td>{{ 'form.reporterDescription'|trans }}</td><td colspan="3">{{ repairForm.faultInfo.reporterDescription }}</td>
                </tr>
                <tr>
                    <td>{{ 'form.workerDescription'|trans }}</td><td colspan="3">{{ repairForm.faultInfo.workerDescription }}</td>
                </tr>
                <tr>
                    <td>{{ 'form.maintenanceSchedule'|trans }}</td><td colspan="3">{{ repairForm.faultInfo.maintenanceSchedule }}</td>
                </tr>
                <tr>
                    <td>{{ 'form.order'|trans }}</td>
                    <td>
                        {% if orderSet %}
                            {{ repairForm.faultInfo.faultOrder.leaderOrder }}
                        {% else %}
                            {{ 'form.none'|trans }}
                        {% endif %}
                    </td>
                    <td>{{ 'form.money'|trans }}</td><td>{{ repairForm.cost }}</td>
                </tr>
                <tr>
                    <td>{{ 'form.reporter'|trans }}</td><td>{{ repairForm.repairTask.user.name }}</td><td>{{ 'form.phone'|trans }}</td><td>{{ repairForm.repairTask.user.phone }}</td>
                </tr>
                <tr>
                    <td>{{ 'form.receiver'|trans }}</td><td>{{ repairForm.receive.name }}</td><td>{{ 'form.phone'|trans }}</td><td>{{ repairForm.receive.phone }}</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        {% endif %}
    {% endif %}

    {# 状态为待评价 #}
    {% if repairForm.formCondition.id == 4 %}
        {# 判断是否是报修人 #}
        {% if isCreater %}
            <table>
                <th colspan="2">{{ 'form.repairFormInfo'|trans }}</th><th colspan="2">{{ repairForm.FormCondition.name }}</th>
                <tr>
                    <td>{{ 'form.time'|trans }}</td><td>{{ repairForm.repairTask.createTime|date('Y-m-d H:i:s') }}</td><td>{{ 'form.location'|trans }}</td><td>{{ repairForm.faultInfo.group.name }}</td>
                </tr>
                <tr>
                    <td>{{ 'form.type'|trans }}</td><td>{{ repairForm.faultInfo.faultType.name }}</td><td>{{ 'form.priority'|trans }}</td><td>{{ repairForm.faultInfo.faultPriority.name }}</td>
                </tr>
                <tr>
                    <td>{{ 'form.reporterDescription'|trans }}</td><td colspan="3">{{ repairForm.faultInfo.reporterDescription }}</td>
                </tr>
                <tr>
                    <td>{{ 'form.workerDescription'|trans }}</td><td colspan="3">{{ repairForm.faultInfo.workerDescription }}</td>
                </tr>
                <tr>
                    <td>{{ 'form.maintenanceSchedule'|trans }}</td><td colspan="3">{{ repairForm.faultInfo.maintenanceSchedule }}</td>
                </tr>
                <tr>
                    <td>{{ 'form.order'|trans }}</td>
                    <td>
                        {% if orderSet %}
                            {{ repairForm.faultInfo.faultOrder.leaderOrder }}
                        {% else %}
                            {{ 'form.none'|trans }}
                        {% endif %}
                    </td>
                    <td>{{ 'form.money'|trans }}</td><td>{{ repairForm.cost }}</td>
                </tr>
                <tr>
                    <td>{{ 'form.reporter'|trans }}</td><td>{{ repairForm.repairTask.user.name }}</td><td>{{ 'form.phone'|trans }}</td><td>{{ repairForm.repairTask.user.phone }}</td>
                </tr>
                <tr>
                    <td>{{ 'form.receiver'|trans }}</td><td>{{ repairForm.receive.name }}</td><td>{{ 'form.phone'|trans }}</td><td>{{ repairForm.receive.phone }}</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><button type="button" id="comment">{{ 'form.comment'|trans }}</button></td>
                </tr>
            </table>
        {% else %}
            <table>
                <th colspan="2">{{ 'form.repairFormInfo'|trans }}</th><th colspan="2">{{ repairForm.FormCondition.name }}</th>
                <tr>
                    <td>{{ 'form.time'|trans }}</td><td>{{ repairForm.repairTask.createTime|date('Y-m-d H:i:s') }}</td><td>{{ 'form.location'|trans }}</td><td>{{ repairForm.faultInfo.group.name }}</td>
                </tr>
                <tr>
                    <td>{{ 'form.type'|trans }}</td><td>{{ repairForm.faultInfo.faultType.name }}</td><td>{{ 'form.priority'|trans }}</td><td>{{ repairForm.faultInfo.faultPriority.name }}</td>
                </tr>
                <tr>
                    <td>{{ 'form.reporterDescription'|trans }}</td><td colspan="3">{{ repairForm.faultInfo.reporterDescription }}</td>
                </tr>
                <tr>
                    <td>{{ 'form.workerDescription'|trans }}</td><td colspan="3">{{ repairForm.faultInfo.workerDescription }}</td>
                </tr>
                <tr>
                    <td>{{ 'form.maintenanceSchedule'|trans }}</td><td colspan="3">{{ repairForm.faultInfo.maintenanceSchedule }}</td>
                </tr>
                <tr>
                    <td>{{ 'form.order'|trans }}</td>
                    <td>
                        {% if orderSet %}
                            {{ repairForm.faultInfo.faultOrder.leaderOrder }}
                        {% else %}
                            {{ 'form.none'|trans }}
                        {% endif %}
                    </td>
                    <td>{{ 'form.money'|trans }}</td><td>{{ repairForm.cost }}</td>
                </tr>
                <tr>
                    <td>{{ 'form.reporter'|trans }}</td><td>{{ repairForm.repairTask.user.name }}</td><td>{{ 'form.phone'|trans }}</td><td>{{ repairForm.repairTask.user.phone }}</td>
                </tr>
                <tr>
                    <td>{{ 'form.receiver'|trans }}</td><td>{{ repairForm.receive.name }}</td><td>{{ 'form.phone'|trans }}</td><td>{{ repairForm.receive.phone }}</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        {% endif %}
    {% endif %}


    {% if repairForm.formCondition.id == 5 or repairForm.formCondition.id == 6 %}
            <table>
                <th colspan="2">{{ 'form.repairFormInfo'|trans }}</th><th colspan="2">{{ repairForm.FormCondition.name }}</th>
                <tr>
                    <td>{{ 'form.time'|trans }}</td><td>{{ repairForm.repairTask.createTime|date('Y-m-d H:i:s') }}</td><td>{{ 'form.location'|trans }}</td><td>{{ repairForm.faultInfo.group.name }}</td>
                </tr>
                <tr>
                    <td>{{ 'form.type'|trans }}</td><td>{{ repairForm.faultInfo.faultType.name }}</td><td>{{ 'form.priority'|trans }}</td><td>{{ repairForm.faultInfo.faultPriority.name }}</td>
                </tr>
                <tr>
                    <td>{{ 'form.reporterDescription'|trans }}</td><td colspan="3">{{ repairForm.faultInfo.reporterDescription }}</td>
                </tr>
                <tr>
                    <td>{{ 'form.workerDescription'|trans }}</td><td colspan="3">{{ repairForm.faultInfo.workerDescription }}</td>
                </tr>
                <tr>
                    <td>{{ 'form.maintenanceSchedule'|trans }}</td><td colspan="3">{{ repairForm.faultInfo.maintenanceSchedule }}</td>
                </tr>
                <tr>
                    <td>{{ 'form.order'|trans }}</td>
                    <td>
                        {% if orderSet %}
                            {{ repairForm.faultInfo.faultOrder.leaderOrder }}
                        {% else %}
                            {{ 'form.none'|trans }}
                        {% endif %}
                    </td>
                    <td>{{ 'form.money'|trans }}</td><td>{{ repairForm.cost }}</td>
                </tr>
                <tr>
                    <td>{{ 'form.reporter'|trans }}</td><td>{{ repairForm.repairTask.user.name }}</td><td>{{ 'form.phone'|trans }}</td><td>{{ repairForm.repairTask.user.phone }}</td>
                </tr>
                <tr>
                    <td>{{ 'form.receiver'|trans }}</td><td>{{ repairForm.receive.name }}</td><td>{{ 'form.phone'|trans }}</td><td>{{ repairForm.receive.phone }}</td>
                </tr>

            </table>

    {% endif %}



    </div>

</div>

{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/repair/js/jquery-1.11.3.min.js') }}"></script>
{% endblock %}