{% extends "::base.html.twig" %}

{% block title %}RepairBundle:Repair:show{% endblock %}

{% block body %}
    <h1>infomation</h1>

    {{ repairForm.faultInfo.faultPriority.name }}
    <br>
    {{ repairForm.user.name }}
    <br>
    {{ repairForm.formCondition.name }}
    <br>
    {{ repairForm.repairTask.user.name }}
    <br>
    {{ repairForm.lastUpdateTime|date('Y-m-d H:i:s') }}
    <br>
    {{ repairForm.faultInfo.faultType.name }}
    <br>
    {{ repairForm.faultInfo.group.name }}
    <br>
    {% if orderIsNull != true %}
        {{ repairForm.repairForm.faultInfo.faultOrder.leaderOrder }}
    {% endif %}
    <br>
    {{ repairForm.faultInfo.reporterDescription }}
    <br>

    {% if is_granted('ROLE_REPAIR') %}

        {% if (repairForm.formCondition.id == 1) or (repairForm.formCondition.id == 2) %}
            <form action="{{ path('fault_confirm',{'id':repairForm.id}) }}" {{ form_enctype(form) }} method="post">
                {{ form_row(form.faultInfo.workerDescription,{ 'label': 'workerDescription' }) }}
                {{ form_row(form.faultInfo.maintenanceSchedule,{ 'label': 'maintenanceSchedule' }) }}



            {% if repairForm.formCondition.id == 1 %}
                <a href="{{ path('fault_receive',{'id':repairForm.id})}}">{{ 'receive'|trans }}</a>

            {% elseif repairForm.formCondition.id == 2 %}
                {{ form_row(form.done) }}
                {{ form_row(form.save) }}
                {{ form_row(form.edit) }}

            {% endif %}
            {{ form_row(form._token) }}
        {% endif %}

            </form>
    {% else %}
        {{ repairForm.faultInfo.workerDescription }}
        <br>
        {{ repairForm.faultInfo.maintenanceSchedule }}
        <br>
    {% endif %}

{#
    {{ repairForm.faultInfo.faultPriority.name }}
    <br>
    {{ repairForm.user.name }}
    <br>
    {{ repairForm.formCondition.name }}
    <br>
    {{ repairForm.repairTask.user.name }}
    <br>
    {{ repairForm.lastUpdateTime|date('Y-m-d H:i:s') }}
    <br>
    {{ repairForm.faultInfo.faultType.name }}
    <br>
    {{ repairForm.faultInfo.group.name }}
    <br>
    {% if orderIsNull != true %}
        {{ repairForm.repairForm.faultInfo.faultOrder.leaderOrder }}
    {% endif %}
    <br>
    {{ repairForm.faultInfo.reporterDescription }}
    <br>
    {% if is_granted('ROLE_REPAIR') %}
        {% if repairForm.formCondition.id == 1 %}
            <a href="{{ path('fault_receive',{'id':repairForm.id})}}">{{ 'submit'|trans }}</a>
        {% endif %}
        {% if repairForm.formCondition.id == 2 %}
            <a href="{{ path('fault_confirm',{'id':repairForm.id})}}">{{ 'confirm'|trans }}</a>
        {% endif %}
    {% endif %}
#}
{% endblock %}
