{% extends "::base.html.twig" %}

{% block title %}RepairBundle:Repair:show{% endblock %}

{% block body %}
    <h1>infomation</h1>

    {{ repairForm.faultInfo.faultPriority.name }}
    <br>
    {{ repairForm.user.name }}
    <br>
    {{ repairForm.formCondition.name }}
    <br>
    {{ repairForm.repairTask.user.name }}
    <br>
    {{ repairForm.lastUpdateTime|date('Y-m-d H:i:s') }}
    <br>
    {{ repairForm.faultInfo.faultType.name }}
    <br>
    {{ repairForm.faultInfo.group.name }}
    <br>
    {% if not orderIsNull %}
        {{ repairForm.faultInfo.faultOrder.leaderOrder }}
        <br>
    {% endif %}

    {% if not receiveIsNull %}
        {{ repairForm.receive.name }}
        <br>
    {% endif %}

    {{ repairForm.faultInfo.reporterDescription }}
    <br>

    {% if is_granted('ROLE_REPAIR') %}

        {% if repairForm.formCondition.id == 1 %}
            <a href="{{ path('fault_receive',{'id':repairForm.id})}}">{{ 'receive'|trans }}</a>

        {% elseif repairForm.formCondition.id == 2 %}
            <form action="{{ path('fault_submit',{'id':repairForm.id}) }}" {{ form_enctype(form) }} method="post">
            {{ form_row(form.faultInfo.workerDescription,{ 'label': 'workerDescription' }) }}
            {{ form_row(form.faultInfo.maintenanceSchedule,{ 'label': 'maintenanceSchedule' }) }}
            {{ form_row(form.done) }}
            {{ form_row(form.save) }}
            {{ form_row(form.edit) }}
            {{ form_row(form._token) }}
            </form>
        {% endif %}



    {% else %}
        {{ repairForm.faultInfo.workerDescription }}
        <br>
        {{ repairForm.faultInfo.maintenanceSchedule }}
        <br>
    {% endif %}


{% endblock %}
