{% extends "::base.html.twig" %}

{% block title %}RepairBundle:Repair:show{% endblock %}

{% block body %}
    <h1>infomation</h1>

    {{ repairForm.faultInfo.faultPriority.name }}
    <br>
    {{ repairForm.user.name }}
    <br>
    {{ repairForm.formCondition.name }}
    <br>
    {{ repairForm.repairTask.user.name }}
    <br>
    {{ repairForm.lastUpdateTime|date('Y-m-d H:i:s') }}
    <br>
    {{ repairForm.faultInfo.faultType.name }}
    <br>
    {{ repairForm.faultInfo.group.name }}
    <br>
    {% if not orderIsNull %}
        {{ repairForm.faultInfo.faultOrder.leaderOrder }}
        <br>
    {% endif %}

    {% if not receiveIsNull %}
        {{ repairForm.receive.name }}
        <br>
    {% endif %}

    {{ repairForm.faultInfo.reporterDescription }}
    <br>



    {% if repairForm.formCondition.id == 1 %}
        {% if is_granted('ROLE_REPAIR') %}
            <form action="{{ path('fault_action',{'action':'receive','id':repairForm.id}) }}" {{ form_enctype(form) }} method="post">
                {{ form_widget(form.save, { 'label': 'form.receive' }) }}
        {% endif %}
        {% if is_granted('ROLE_REPAIR') %}
            <form action="{{ path('fault_action',{'action':'receive','id':repairForm.id}) }}" {{ form_enctype(form) }} method="post">
                {{ form_widget(form.save, { 'label': 'form.receive' }) }}
        {% endif %}

    {% endif %}
    {% if repairForm.formCondition.id == 2 %}
        {% if is_granted('ROLE_REPAIR') %}
            <form action="{{ path('fault_action',{'action':'submit','id':repairForm.id}) }}" {{ form_enctype(form) }} method="post">
                <input type="button" id="switch" />
                {{ form_widget(form.save, { 'label': 'form.submit' }) }}
        {% endif %}
    {% endif %}






    {% if is_granted('ROLE_REPAIR') %}

        {% if repairForm.formCondition.id == 1 %}
            <form action="{{ path('fault_action',{'action':'receive','id':repairForm.id}) }}" {{ form_enctype(form) }} method="post">
                {{ form_widget(form.save, { 'label': 'Click me' }) }}

        {% elseif repairForm.formCondition.id == 2 %}
            <form action="{{ path('fault_action',{'action':'edit','id':repairForm.id}) }}" {{ form_enctype(form) }} method="post">
            {{ form_row(form.faultInfo.workerDescription,{ 'label': 'workerDescription' }) }}
            {{ form_row(form.faultInfo.maintenanceSchedule,{ 'label': 'maintenanceSchedule' }) }}
                {{ form_widget(form.save, { 'label': 'Click me' }) }}


        {% endif %}
             {{ form_row(form._token) }}
                </form>

    {% else %}
        {{ repairForm.faultInfo.workerDescription }}
        <br>
        {{ repairForm.faultInfo.maintenanceSchedule }}
        <br>
    {% endif %}


{% endblock %}
