{% extends "::base.html.twig" %}

{% block title %}RepairBundle:Repair:post{% endblock %}

{% block body %}
<h1>Welcome to the Repair:post page</h1>

    {% trans_default_domain 'RepairBundle' %}
    <form action="{{ path('fault_report') }}" {{ form_enctype(form) }} method="post">

        {#
        {{ form_row(form.formNumber) }}
        #}

        <fieldset>
            <legend>{{ 'faultInfo'|trans }}</legend>

            {{ form_row(form.faultType) }}
            {{ form_row(form.group) }}
            {{ form_row(form.faultPriority) }}
            {{ form_row(form.reporterDescription) }}

        </fieldset>


        {{ form_row(form._token) }}



        <div>
            <input type="submit" value="{{ 'submit.submit'|trans }}" />
        </div>
    </form>
{% endblock %}
