{% extends "RepairBundle::layout.html.twig" %}

{% block title %}我的消息{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .count {
            padding-top:20px;
            text-align: end;
        }
        .messageLink{
            margin-top: 15px;
        }


    </style>
{% endblock %}

{% block body %}
    <div id="content">
        <div class="row">

            {% trans_default_domain 'RepairBundle' %}

            <div class="col-md-6 col-md-offset-3">
                <div class="col-md-6">
                    <h3>{{ 'table.myMessage'|trans }}</h3>
                </div>
                <div class="col-md-5 col-md-offset-1 count">
                    <h5>共{{ pagination.getTotalItemCount }}条记录分{{ (pagination.getTotalItemCount/8)|round(0, 'ceil') }}页</h5>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td class="col-xs-2 rowlink-skip">{{ 'table.status'|trans }}</td>
                        <td class="col-xs-8">{{ 'table.title'|trans }}</td>
                        <td class="col-xs-2 rowlink-skip">{{ knp_pagination_sortable(pagination, 'table.createTime'|trans, 'm.createTime') }}</td>
                    </tr>
                    </thead>
                    <tbody data-link="row" class="rowlink">

                    {% for p in pagination %}
                        <tr id="{{ p.id }}">
                            <td>
                                {% if p.isRead %}
                                    {{ 'table.read'|trans }}
                                {% else %}
                                    {{ 'table.unread'|trans }}
                                {% endif %}
                            </td>
                            <td><a href="#" data-toggle="modal" data-target="#m{{ p.id }}">{{ p.title| truncate(30) }}</a></td>
                            <td>{{ p.createTime|date('Y-m-d') }}</td>
                        </tr>

                        {# 批示消息框 #}
                        <div class="modal fade" id="m{{ p.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="exampleModalLabel">消息</h4>
                                    </div>
                                    <div class="modal-body">
                                            <div class="form-group">
                                                <label for="message-text" class="control-label">消息内容</label>
                                                <textarea id="message-text" class="form-control"  required="required" rows="5">{{ p.message }}</textarea>


                                            </div>
                                        <a class="messageLink" href="{{ p.url }}">点此链接查看详细信息</a>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                                <button type="button" id="button{{ p.id }}" class="btn btn-primary" data-dismiss="modal">删除本条消息</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {

            $('tr').click(function () {
                var url = "{{ url('homepage') }}"
                $.post(url+'message'+'/'+this.id)

            });

            $('.modal-footer .btn-primary').click(function(){
                var url = "{{ url('homepage') }}"
                $.post(url+'message'+'/delete/'+this.id.substr(6))
                $('#'+this.id.substr(6)).fadeOut(1200);
            })
        })
    </script>

{% endblock %}