{% extends "::base.html.twig" %}

{% block title %}Home Page{% endblock %}

{% block body %}


    {% trans_default_domain 'RepairBundle' %}
    <form action="{{ path('fault_report') }}" {{ form_enctype(form) }} method="post">
        <fieldset>
            <legend>{{ 'faultInfo'|trans }}</legend>
            {{ form_row(form.faultType) }}
            {{ form_row(form.group) }}
            {{ form_row(form.faultPriority) }}
            {{ form_row(form.reporterDescription) }}
        </fieldset>
        {{ form_row(form._token) }}
        <div>
            <input type="submit" value="{{ 'form.post'|trans }}" />
        </div>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <td>{{ 'form.reporterDescription'|trans }}</td><td>{{ 'form.location'|trans }}</td><td>{{ 'form.date'|trans }}</td>
            </tr>
        </thead>
        <tbody data-link="row" class="rowlink">
        {% for repair in repairForm %}

            <tr>

                    <td><a href="{{ path('fault_info',{'id':repair.id})  }}">{{ repair.faultInfo.reporterDescription| truncate(5) }}</a></td>
                    <td><a href="{{ path('fault_info',{'id':repair.id})  }}">{{ repair.faultInfo.group.name }}</a></td>
                    <td><a href="{{ path('fault_info',{'id':repair.id})  }}">{{ repair.repairTask.createTime|date('Y-m-d') }}</a></td>

            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock %}