{% extends "RepairBundle::layout.html.twig" %}

{% block title %}Home Page{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        form .col-md-4 {}


    </style>
{% endblock %}
{% block body %}
    <div id="content">
<div class="row">

    {% trans_default_domain 'RepairBundle' %}
    <div class="col-md-4 col-md-offset-1">
    <form action="{{ path('fault_report') }}" {{ form_enctype(form) }} method="post">
        <fieldset >
            <legend>{{ 'form.faultInfo'|trans }}</legend>
            <div class="row">
                <div class="col-md-4 ">
                    {{ 'form.faultType'|trans }}
                </div>
                <div class="col-md-8 form-group">
                    {{ form_widget(form.faultType, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-md-4">
                    {{ 'form.group'|trans }}
                </div>
                <div class="col-md-8 form-group">
                    {{ form_widget(form.group, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-md-4">
                    {{ 'form.faultPriority'|trans }}
                </div>
                <div class="col-md-8 form-group">
                    {{ form_widget(form.faultPriority, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-md-4">
                    {{ 'form.Title'|trans }}
                </div>
                <div class="col-md-8 form-group">
                    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-md-4">
                    {{ 'form.reporterDescription'|trans }}
                </div>
                <div class="col-md-8 form-group">
                    {{ form_widget(form.reporterDescription, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-md-2 col-md-offset-4 form-group">
                    <button type="submit"  id="myButton" data-toggle="confirmation-singleton" data-placement="top" class="btn btn-primary" >{{ 'form.post'|trans }}</button>
                </div>
            </div>
            {{ form_row(form._token) }}
        </fieldset>

    </form>
    </div>
    <div class="col-md-4 col-md-offset-1">
        <h3>{{ 'form.MyRepairRecord'|trans }}</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>{{ 'form.title'|trans }}</td><td>{{ 'form.location'|trans }}</td><td>{{ 'form.date'|trans }}</td><td>{{ 'form.priority'|trans }}</td><td>{{ 'form.condition'|trans }}</td>
            </tr>
        </thead>
        <tbody data-link="row" class="rowlink">
        {% for repair in repairForm %}
            <tr>
                    <td><a href="{{ path('fault_info',{'id':repair.id})  }}">{{ repair.faultInfo.title| truncate(8) }}</a></td>
                    <td><a href="{{ path('fault_info',{'id':repair.id})  }}">{{ repair.faultInfo.group.name }}</a></td>
                    <td><a href="{{ path('fault_info',{'id':repair.id})  }}">{{ repair.repairTask.createTime|date('Y-m-d') }}</a></td>
                    <td><a href="{{ path('fault_info',{'id':repair.id})  }}">{{ repair.faultInfo.faultPriority.name }}</a></td>
                    <td><a href="{{ path('fault_info',{'id':repair.id})  }}">{{ repair.formCondition.name }}</a></td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $('[data-toggle="confirmation-singleton"]').confirmation();
    </script>

{% endblock %}