{% extends "RepairBundle::layout.html.twig" %}

{% block title %}history{% endblock %}

{% block body %}
    <div id="content">
    <div class="row">

    {% trans_default_domain 'RepairBundle' %}

    <div class="col-md-6 col-md-offset-3">
        <h3>{{ 'form.MyReportedHistory'|trans }}</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <td>{{ 'form.title'|trans }}</td><td>{{ 'form.location'|trans }}</td><td>{{ 'form.date'|trans }}</td><td>{{ 'form.priority'|trans }}</td><td>{{ 'form.condition'|trans }}</td>
            </tr>
            </thead>
            <tbody data-link="row" class="rowlink">
            {% for h in history %}
                <tr>
                    <td><a href="{{ path('fault_info',{'id':h.id})  }}">{{ h.faultInfo.title| truncate(8) }}</a></td>
                    <td><a href="{{ path('fault_info',{'id':h.id})  }}">{{ h.faultInfo.group.name }}</a></td>
                    <td><a href="{{ path('fault_info',{'id':h.id})  }}">{{ h.repairTask.createTime|date('Y-m-d') }}</a></td>
                    <td><a href="{{ path('fault_info',{'id':h.id})  }}">{{ h.faultInfo.faultPriority.name }}</a></td>
                    <td><a href="{{ path('fault_info',{'id':h.id})  }}">{{ h.formCondition.name }}</a></td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>

    </div>
    </div>
{% endblock %}