{% extends "RepairBundle::layout.html.twig" %}

{% block title %}Home Page{% endblock %}
{% block stylesheets %}
{{ parent() }}
<style type="text/css">
    body{
        min-width: 700px;
    }
    table {margin:auto;}
    .formTable{
        float: left;
        width: 30%;
    }
    #middleImg img{
        width: 90%;
        padding: 5%;
    }
    #middleImg{

        float: left;
        width: 20%;
    }
    .blank{
        float: left;
        width: 10%;
        padding-top:15px;
        padding-left:10px;
        padding-right:30px;
        padding-bottom:40px;
        border: 1px solid #ffffff;
    }
    .topBlank{
        padding: 25%;
    }

    .count {
        padding-top:20px;
        text-align: end;
    }

</style>
{% endblock %}

{% block body %}
<div id="content">
    <div class="row">

    {% trans_default_domain 'RepairBundle' %}
    <div class="blank"></div>
    <div class="formTable">
        <div class="col-md-6">
            <h3>{{ 'table.receiveByMe'|trans }}</h3>
        </div>
        <div class="col-md-5 col-md-offset-1 count">
            <h5>共{{ received.getTotalItemCount }}条记录分{{ (received.getTotalItemCount/8)|round(0, 'ceil') }}页</h5>
        </div>
    <table id="received" class="table table-striped">
        <thead>
        <tr>
            <td>
                {{ 'form.title'|trans }}
            </td>
            <td class="visible-lg visible-md visible-sm">
                {{ knp_pagination_sortable(received, 'form.location'|trans, 'g.id') }}
            </td>
            <td class="visible-lg visible-md">
                {{ knp_pagination_sortable(received, 'form.date'|trans, 't.createTime') }}
            </td>
            <td class="visible-lg visible-md visible-sm visible-xs">
                {{ knp_pagination_sortable(received, 'form.priority'|trans, 'p.id') }}
            </td>
        </tr>
        </thead>
        <tbody data-link="row" class="rowlink">
        {% for r in received %}
            <tr>
                <td><a href="{{ path('fault_info',{'id':r.id})  }}">{{ r.faultInfo.title| truncate(8) }}</a></td>
                <td class="visible-lg visible-md visible-sm">{{ r.faultInfo.group.name }}</td>
                <td class="visible-lg visible-md">{{ r.repairTask.createTime|date('Y-m-d') }}</td>
                <td class="visible-lg visible-md visible-sm visible-xs">{{ r.faultInfo.faultPriority.name }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
        <div class="navigation">
            {{ knp_pagination_render(received) }}
        </div>
    </div>
    <div id="middleImg">
        <div class="topBlank"></div>
        <img src="{{ asset('bundles/repair/images/middle.png') }}" alt="middleImg"/>
    </div>
    <div class="formTable">
        <div class="col-md-6">
            <h3>{{ 'table.waitingForReceived'|trans }}</h3>
        </div>
        <div class="col-md-5 col-md-offset-1 count">
            <h5>共{{ notReceived.getTotalItemCount }}条记录分{{ (notReceived.getTotalItemCount/8)|round(0, 'ceil') }}页</h5>
        </div>

    <table id="notReceived" class="table table-striped">
        <thead>
        <tr>
            <td>{{ 'form.title'|trans }}</td>
            <td class="visible-lg visible-md visible-sm">
                {{ knp_pagination_sortable(notReceived, 'form.location'|trans, 'g.id') }}
            </td>
            <td class="visible-lg visible-md">
                {{ knp_pagination_sortable(notReceived, 'form.date'|trans, 't.createTime') }}
            </td>
            <td class="visible-lg visible-md visible-sm visible-xs">
                {{ knp_pagination_sortable(notReceived, 'form.priority'|trans, 'p.id') }}
            </td>
        </tr>
        </thead>
        <tbody data-link="row" class="rowlink">
        {% for r in notReceived %}
            <tr>
                <td><a href="{{ path('fault_info',{'id':r.id})  }}">{{ r.faultInfo.title| truncate(8) }}</a></td>
                <td class="visible-lg visible-md visible-sm">{{ r.faultInfo.group.name }}</td>
                <td class="visible-lg visible-md">{{ r.repairTask.createTime|date('Y-m-d') }}</td>
                <td class="visible-lg visible-md visible-sm visible-xs">{{ r.faultInfo.faultPriority.name }}</td>
                <td class="rowlink-skip"><button id="{{ r.id }}" class="btn btn-primary" data-toggle="confirmation" data-singleton="true" data-btn-ok-label="确定" data-btn-ok-icon="glyphicon glyphicon-share-alt" data-btn-ok-class="btn-success" data-btn-cancel-label="取消" data-btn-cancel-icon="glyphicon glyphicon-ban-circle" data-btn-cancel-class="btn-danger" data-popout="true" title="是否确定">{{ 'form.receiveIt'|trans }}</button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <div class="navigation">
            {{ knp_pagination_render(notReceived) }}
        </div>
    </div>
    <div class="blank"></div>

    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('[data-toggle=confirmation]').confirmation();
            $('#notReceived .btn-primary').click(function () {
                var url = "{{ url('homepage') }}"
                window.location = url+'fault'+'/'+'receive'+'/'+this.id
            });
        })
    </script>

{% endblock %}