{% extends "RepairBundle::layout.html.twig" %}

{% block title %}Home Page{% endblock %}
{% block stylesheets %}
{{ parent() }}
<style type="text/css">
    table {margin:auto;}


</style>
{% endblock %}

{% block body %}

<div class="row">

    {% trans_default_domain 'RepairBundle' %}

    <div class="col-md-4 col-md-offset-1">
        <h2>{{ 'table.receiveByMe'|trans }}</h2>
    <table id="received" class="table table-striped">
        <thead>
        <tr>
            <td>{{ 'form.title'|trans }}</td><td class="visible-lg visible-md visible-sm">{{ 'form.location'|trans }}</td><td class="visible-lg visible-md">{{ 'form.date'|trans }}</td><td class="visible-lg visible-md visible-sm visible-xs">{{ 'form.priority'|trans }}</td>
        </tr>
        </thead>
        <tbody data-link="row" class="rowlink">
        {% for r in received %}
            <tr>
                <td><a href="{{ path('fault_info',{'id':r.id})  }}">{{ r.faultInfo.title| truncate(8) }}</a></td>
                <td class="visible-lg visible-md visible-sm"><a href="{{ path('fault_info',{'id':r.id})  }}">{{ r.faultInfo.group.name }}</a></td>
                <td class="visible-lg visible-md"><a href="{{ path('fault_info',{'id':r.id})  }}">{{ r.repairTask.createTime|date('Y-m-d') }}</a></td>
                <td class="visible-lg visible-md visible-sm visible-xs"><a href="{{ path('fault_info',{'id':r.id})  }}">{{ r.faultInfo.faultPriority.name }}</a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="col-md-1">
        <img src="{{ asset('bundles/repair/images/middle.png') }}" alt=""/>
    </div>
    <div class="col-md-4">
        <h2>{{ 'table.waitingForReceived'|trans }}</h2>
    <table id="notReceived" class="table table-striped">
        <thead>
        <tr>
            <td>{{ 'form.title'|trans }}</td><td class="visible-lg visible-md visible-sm">{{ 'form.location'|trans }}</td><td class="visible-lg visible-md">{{ 'form.date'|trans }}</td><td class="visible-lg visible-md visible-sm visible-xs">{{ 'form.priority'|trans }}</td>
        </tr>
        </thead>
        <tbody data-link="row" class="rowlink">
        {% for r in notReceived %}
            <tr>
                <td><a href="{{ path('fault_info',{'id':r.id})  }}">{{ r.faultInfo.title| truncate(8) }}</a></td>
                <td class="visible-lg visible-md visible-sm"><a href="{{ path('fault_info',{'id':r.id})  }}">{{ r.faultInfo.group.name }}</a></td>
                <td class="visible-lg visible-md"><a href="{{ path('fault_info',{'id':r.id})  }}">{{ r.repairTask.createTime|date('Y-m-d') }}</a></td>
                <td class="visible-lg visible-md visible-sm visible-xs"><a href="{{ path('fault_info',{'id':r.id})  }}">{{ r.faultInfo.faultPriority.name }}</a></td>
                <td class="rowlink-skip"><a href="{{ path('fault_action',{'action':'receive','id':r.id}) }}"><button class="btn btn-primary" data-toggle="confirmation-singleton" data-placement="top">{{ 'form.receiveIt'|trans }}</button></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $('[data-toggle="confirmation-singleton"]').confirmation();
    </script>

{% endblock %}