{% extends "RepairBundle::layout.html.twig" %}

{% block title %}统计分析{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/repair/css/morris.css') }}" rel="stylesheet">
    <style type="text/css">
        .col-lg-4{
            padding-left:15px ;
            padding-right: 15px;
        }
    </style>
{% endblock %}

{% block body %}


    <div id="content">
        <div class="row">

            {% trans_default_domain 'RepairBundle' %}
        <div class="col-lg-4 col-lg-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Donut Chart Example
                </div>
                <div class="panel-body">
                    <div id="RepairFormNumberOfAllType"></div>
                    <a href="#" class="btn btn-default btn-block">View Details</a>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Bar Chart Example
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                            <div id="RepairFormNumberOfAllStatus"></div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>

        </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/repair/js/raphael-min.js') }}"></script>
    <script src="{{ asset('bundles/repair/js/morris.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            Morris.Donut({
                element: 'RepairFormNumberOfAllType',
                formatter: function (value, data) { return (value/{{ numberOfType }} *100).toFixed(2) + '%'; },
                data: [
                    {% for key,value in RepairFormNumberOfAllType %}
                    {label: "{{ key }}", value: {{ value[0][1] }}},
                    {% endfor %}
                ]
            });

            Morris.Area({
                element: 'RepairFormNumberOfAllStatus',
                data: [
                    {% for key,value in RepairFormNumberOfAllStatus %}
                    { y: '{{ key }}', a:{{ value['done'] }} , b: {{ value['repair']-value['done'] }} ,c:{{ value['all']-value['repair'] }}},
                    {% endfor %}
                ],
                xkey: 'y',
                ykeys: ['a', 'b','c'],
                labels: ['已解决', '维修中','未处理'],
                resize: true
            });

        })
    </script>

{% endblock %}