{% extends "RepairBundle::layout.html.twig" %}

{% block title %}统计分析{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/repair/css/morris.css') }}" rel="stylesheet">
    <style type="text/css">
        .col-lg-4{
            padding-left:15px ;
            padding-right: 15px;
        }
        .modal-title{
            color: #227ABF;
        }
    </style>
{% endblock %}

{% block body %}


    <div id="content">
        <div class="row">

            {% trans_default_domain 'RepairBundle' %}
        <div class="col-lg-3 col-lg-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i>近100天故障类型比例统计
                </div>
                <div class="panel-body">
                    <div id="repairFormNumberOfAllType"></div>
                    <a href="#" class="btn btn-default btn-block" data-toggle="modal" data-target="#typeModal">导出数据至Excel</a>
                </div>
                <!-- /.panel-body -->
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i>近100天故障所在地统计
                </div>
                <div class="panel-body">
                    <div id="repairFormNumberOfAllGroup"></div>
                    <a href="#" class="btn btn-default btn-block" data-toggle="modal" data-target="#locationModal">导出数据至Excel</a>
                </div>
                <!-- /.panel-body -->
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i>未来故障发生概率预测
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div id="guess"></div>
                    </div>
                    <!-- /.row -->

                </div>
                <!-- /.panel-body -->
            </div>

        </div>
        <div class="col-lg-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i>近半年故障解决情况统计
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                            <div id="repairFormNumberOfAllStatus"></div>
                    </div>
                    <!-- /.row -->
                    <a href="#" class="btn btn-default btn-block" data-toggle="modal" data-target="#statusModal">导出数据至Excel</a>
                </div>
                <!-- /.panel-body -->
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i>近半年故障维修金额统计
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div id="repairFormCost"></div>
                    </div>
                    <!-- /.row -->
                    <a href="#" class="btn btn-default btn-block" data-toggle="modal" data-target="#costModal">导出数据至Excel</a>

                </div>
                <!-- /.panel-body -->
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i>优秀维修员排行榜
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div id="repairPerson"></div>
                    </div>
                    <!-- /.row -->

                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        </div>
    </div>



    <div class="modal fade" id="typeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">导出数据到Excel</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <p>请选择需要的Excel格式类型和天数</p>
                        获取近<input type="text" name="typeDay" id="typeDay" value="0"/>天数据（填写0则显示近100天数据）
                    </div>

                    <div class="modal-footer">
                        <button type="button" id="ByTypeExcel5" class="btn btn-default" data-dismiss="modal">xls格式（兼容Excel2003及之前版本）</button>
                        <button type="button" id="ByTypeExcel2007" class="btn btn-default" data-dismiss="modal">xlsx格式（兼容Excel2007及之后版本）</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">导出数据到Excel</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <p>请选择需要的Excel格式类型和天数</p>
                        获取近<input type="text" name="locationDay" id="locationDay" value="0"/>天数据（填写0则显示近100天数据）
                    </div>

                    <div class="modal-footer">
                        <button type="button" id="ByLocationExcel5" class="btn btn-default" data-dismiss="modal">xls格式（兼容Excel2003及之前版本）</button>
                        <button type="button" id="ByLocationExcel2007" class="btn btn-default" data-dismiss="modal">xlsx格式（兼容Excel2007及之后版本）</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">导出数据到Excel</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <p>请选择需要的Excel格式类型和月份数</p>
                        获取近<input type="text" name="statusMonth" id="statusMonth" value="0"/>个月数据（填写0则显示近6个月数据）
                    </div>

                    <div class="modal-footer">
                        <button type="button" id="ByStatusExcel5" class="btn btn-default" data-dismiss="modal">xls格式（兼容Excel2003及之前版本）</button>
                        <button type="button" id="ByStatusExcel2007" class="btn btn-default" data-dismiss="modal">xlsx格式（兼容Excel2007及之后版本）</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="costModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">导出数据到Excel</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <p>请选择需要的Excel格式类型和月份数</p>
                        获取近<input type="text" name="costMonth" id="costMonth" value="0"/>个月数据（填写0则显示近6个月数据）
                    </div>

                    <div class="modal-footer">
                        <button type="button" id="ByCostExcel5" class="btn btn-default" data-dismiss="modal">xls格式（兼容Excel2003及之前版本）</button>
                        <button type="button" id="ByCostExcel2007" class="btn btn-default" data-dismiss="modal">xlsx格式（兼容Excel2007及之后版本）</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/repair/js/raphael-min.js') }}"></script>
    <script src="{{ asset('bundles/repair/js/morris.min.js') }}"></script>
    <script>
        $(document).ready(function() {

            $('#ByTypeExcel5').click(function(){
                if($('#typeDay').val()<1||!isNaN($('#typeDay').val()))
                    var typeDay = 100
                else
                    var typeDay = parseInt($('#typeDay').val())
                window.location = "{{ path('numbytype2excel') }}"+"/"+typeDay+"/Excel5";
            })

            $('#ByTypeExcel2007').click(function(){
                if($('#typeDay').val()<1||!isNaN($('#typeDay').val()))
                    var typeDay = 100
                else
                    var typeDay = parseInt($('#typeDay').val())
                window.location = "{{ path('numbytype2excel') }}"+"/"+typeDay+"/Excel2007";
            })
            $('#ByLocationExcel5').click(function(){
                if($('#locationDay').val()<1||!isNaN($('#typeDay').val()))
                    var locationDay = 100
                else
                    var locationDay = parseInt($('#locationDay').val())
                window.location = "{{ path('numbylocation2excel') }}"+"/"+locationDay+"/Excel5";
            })

            $('#ByLocationExcel2007').click(function(){
                if($('#locationDay').val()<1||!isNaN($('#typeDay').val()))
                    var locationDay = 100
                else
                    var locationDay = parseInt($('#locationDay').val())
                window.location = "{{ path('numbylocation2excel') }}"+"/"+locationDay+"/Excel2007";
            })

            $('#ByStatusExcel5').click(function(){
                if($('#statusMonth').val()<1||!isNaN($('#typeDay').val()))
                    var statusMonth = 6
                else
                    var statusMonth = parseInt($('#statusMonth').val())
                window.location = "{{ path('numbystatus2excel') }}"+"/"+statusMonth+"/Excel5";
            })

            $('#ByStatusExcel2007').click(function(){
                if($('#statusMonth').val()<1||!isNaN($('#typeDay').val()))
                    var statusMonth = 6
                else
                    var statusMonth = parseInt($('#statusMonth').val())
                window.location = "{{ path('numbystatus2excel') }}"+"/"+statusMonth+"/Excel2007";
            })

            $('#ByCostExcel5').click(function(){
                if($('#costMonth').val()<1||!isNaN($('#typeDay').val()))
                    var costMonth = 6
                else
                    var costMonth = parseInt($('#costMonth').val())
                window.location = "{{ path('costbymonth2excel') }}"+"/"+costMonth+"/Excel5";
            })

            $('#ByCostExcel2007').click(function(){
                if($('#costMonth').val()<1||!isNaN($('#typeDay').val()))
                    var costMonth = 6
                else
                    var costMonth = parseInt($('#costMonth').val())
                window.location = "{{ path('costbymonth2excel') }}"+"/"+costMonth+"/Excel2007";
            })


            Morris.Donut({
                element: 'repairFormNumberOfAllType',
                formatter: function (value, data) { return (value/{{ numberOfType }} *100).toFixed(2) + '%'; },
                data: [
                    {% for key,value in repairFormNumberOfAllType %}
                    {label: "{{ key }}", value: {{ value[0][1] }}},
                    {% endfor %}
                ],
                resize: true
            });

            Morris.Donut({
                element: 'repairFormNumberOfAllGroup',
                formatter: function (value, data) { return (value/{{ numberOfGroup }} *100).toFixed(2) + '%'; },
                data: [
                    {% for key,value in repairFormNumberOfAllGroup %}
                    {label: "{{ key }}", value: {{ value }}},
                    {% endfor %}
                ],
                resize: true
            });


            Morris.Donut({
                element: 'guess',
                formatter: function (value, data) { return (value/{{ numberOfGuess }} *100).toFixed(2) + '%'; },
                data: [
                    {% for key,value in guess %}
                    {label: "{{ value['groupname'] }}的{{ value['typename'] }}故障", value: {{ value['number'] }}},
                    {% endfor %}
                ],
                resize: true
            });

            Morris.Area({
                element: 'repairFormNumberOfAllStatus',
                data: [
                    {% for key,value in repairFormNumberOfAllStatus %}
                    { y: '{{ key }}', a:{{ value['done'] }} , b: {{ value['repair']-value['done'] }} ,c:{{ value['all']-value['repair'] }}},
                    {% endfor %}
                ],
                xkey: 'y',
                ykeys: ['a', 'b','c'],
                labels: ['已解决', '维修中','未处理'],
                resize: true
            });

            new Morris.Line({
                // ID of the element in which to draw the chart.
                element: 'repairFormCost',
                // Chart data records -- each entry in this array corresponds to a point on
                // the chart.
                data: [
                    {% for key,value in repairFormCost %}
                    { month: '{{ key }}', value: {{ value }} },
                    {% endfor %}

                ],
                // The name of the data record attribute that contains x-values.
                xkey: 'month',
                // A list of names of data record attributes that contain y-values.
                ykeys: ['value'],
                // Labels for the ykeys -- will be displayed when you hover over the
                // chart.
                labels: ['维修费'],
                resize: true
            });

            Morris.Bar({
                element: 'repairPerson',
                data: [
                    {% for key,value in repairPerson%}
                    { y: '{{ value['name'] }}', a:{{ value[1] }} },
                    {% endfor %}
                ],
                xkey: 'y',
                ykeys: ['a'],
                labels: ['处理故障数'],
                resize: true
            });


        })
    </script>

{% endblock %}