{% extends "RepairBundle::layout.html.twig" %}

{% block title %}统计分析{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/repair/css/morris.css') }}" rel="stylesheet">
    <style type="text/css">
        .col-lg-4{
            padding-left:15px ;
            padding-right: 15px;
        }
    </style>
{% endblock %}

{% block body %}


    <div id="content">
        <div class="row">

            {% trans_default_domain 'RepairBundle' %}
        <div class="col-lg-3 col-lg-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i>近100天故障类型比例统计
                </div>
                <div class="panel-body">
                    <div id="repairFormNumberOfAllType"></div>
                    <a href="#" class="btn btn-default btn-block">View Details</a>
                </div>
                <!-- /.panel-body -->
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i>近100天故障所在地统计
                </div>
                <div class="panel-body">
                    <div id="repairFormNumberOfAllGroup"></div>
                    <a href="#" class="btn btn-default btn-block">View Details</a>
                </div>
                <!-- /.panel-body -->
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i>未来故障发生概率预测
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div id="guess"></div>
                    </div>
                    <!-- /.row -->
                    <a href="#" class="btn btn-default btn-block">View Details</a>
                </div>
                <!-- /.panel-body -->
            </div>

        </div>
        <div class="col-lg-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i>近半年故障解决情况统计
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                            <div id="repairFormNumberOfAllStatus"></div>
                    </div>
                    <!-- /.row -->
                    <a href="#" class="btn btn-default btn-block">View Details</a>
                </div>
                <!-- /.panel-body -->
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i>近半年故障维修金额统计
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div id="repairFormCost"></div>
                    </div>
                    <!-- /.row -->
                    <a href="#" class="btn btn-default btn-block">View Details</a>
                </div>
                <!-- /.panel-body -->
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i>优秀维修员排行榜
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div id="repairPerson"></div>
                    </div>
                    <!-- /.row -->
                    <a href="#" class="btn btn-default btn-block">View Details</a>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/repair/js/raphael-min.js') }}"></script>
    <script src="{{ asset('bundles/repair/js/morris.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            Morris.Donut({
                element: 'repairFormNumberOfAllType',
                formatter: function (value, data) { return (value/{{ numberOfType }} *100).toFixed(2) + '%'; },
                data: [
                    {% for key,value in repairFormNumberOfAllType %}
                    {label: "{{ key }}", value: {{ value[0][1] }}},
                    {% endfor %}
                ],
                resize: true
            });

            Morris.Donut({
                element: 'repairFormNumberOfAllGroup',
                formatter: function (value, data) { return (value/{{ numberOfGroup }} *100).toFixed(2) + '%'; },
                data: [
                    {% for key,value in repairFormNumberOfAllGroup %}
                    {label: "{{ key }}", value: {{ value }}},
                    {% endfor %}
                ],
                resize: true
            });


            Morris.Donut({
                element: 'guess',
                formatter: function (value, data) { return (value/{{ numberOfGuess }} *100).toFixed(2) + '%'; },
                data: [
                    {% for key,value in guess %}
                    {label: "{{ value['groupname'] }}的{{ value['typename'] }}故障", value: {{ value['number'] }}},
                    {% endfor %}
                ],
                resize: true
            });

            Morris.Area({
                element: 'repairFormNumberOfAllStatus',
                data: [
                    {% for key,value in repairFormNumberOfAllStatus %}
                    { y: '{{ key }}', a:{{ value['done'] }} , b: {{ value['repair']-value['done'] }} ,c:{{ value['all']-value['repair'] }}},
                    {% endfor %}
                ],
                xkey: 'y',
                ykeys: ['a', 'b','c'],
                labels: ['已解决', '维修中','未处理'],
                resize: true
            });

            new Morris.Line({
                // ID of the element in which to draw the chart.
                element: 'repairFormCost',
                // Chart data records -- each entry in this array corresponds to a point on
                // the chart.
                data: [
                    {% for key,value in repairFormCost %}
                    { month: '{{ key }}', value: {{ value }} },
                    {% endfor %}

                ],
                // The name of the data record attribute that contains x-values.
                xkey: 'month',
                // A list of names of data record attributes that contain y-values.
                ykeys: ['value'],
                // Labels for the ykeys -- will be displayed when you hover over the
                // chart.
                labels: ['维修费'],
                resize: true
            });

            Morris.Bar({
                element: 'repairPerson',
                data: [
                    {% for key,value in repairPerson%}
                    { y: '{{ value['name'] }}', a:{{ value[1] }} },
                    {% endfor %}
                ],
                xkey: 'y',
                ykeys: ['a'],
                labels: ['处理故障数'],
                resize: true
            });


        })
    </script>

{% endblock %}