{% extends "RepairBundle::layout.html.twig" %}

{% block title %}供应商信息{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">

    </style>
{% endblock %}

{% block body %}


    <div id="content">
        <div class="row">

            {% trans_default_domain 'RepairBundle' %}
    {% for s in supplier %}
        {% if loop.index%2 == 1 %}
            <div class="col-sm-4 col-sm-offset-2">
        {% else %}
            <div class="col-sm-4">
        {% endif %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i>{{ s.name }}
                    </div>
                    <div class="panel-body">
                        <div >
                            <p>{{ s.description }}</p>
                            <p>{{ s.phone }}</p>
                            <p>{{ s.location }}</p>
                        </div>
                        <a href="
                        {{ s.website }}
                        " class="btn btn-default btn-block" target="_blank">网址</a>
                    </div>
                    <!-- /.panel-body -->
                </div>

            </div>
    {% endfor %}
        </div>
    </div>
{% endblock %}